{% extends "_layout" %}

{% block content %} 

<div class="slogan">
    <h1>Make your slam your very own jam.</h1>
</div>

<main>
    <img src="./images/racket.png" alt="Racket">
    <div>
        {{ entry.richText }}
        <div class="allFirst">
            <a href="{{siteUrl}}rackets">See all.</a>
        </div>
    </div>
</main>

<div class="why">
    <h2>Why shop with us?</h2>
    <div class="motiv">
    {% set arguments = craft.entries().section('whyUs').all() %}
    {% for entry in arguments %}
        <article>
            <img src="{{entry.iconimg.one().url()}}" alt="" width="40" height="40">
            <h3> {{entry.title}}</h3>
            <p>{{entry.description}}</p>
        </article>
     {% endfor %}
    </div>
</div>


<div class="all">
    <a href="{{siteUrl}}rackets">See all.</a>
</div>


  {% endblock %}